footer {
	margin-top: var(--margin);
	padding: var(--margin-medium) calc(var(--margin) * 2) !important;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--margin) * 2);

	background-color: var(--bg-footer);
}

.social-link {
	display: flex;
}
.social-link svg {
	width: 38px;
	fill: var(--txt-2);
	transition: fill 200ms;
}
.social-link:hover svg {
	fill: var(--txt-link);
}

@media screen and (min-aspect-ratio: 11/10) {
	footer {
		width: -webkit-fit-content !important;
		width: -moz-fit-content !important;
		width: fit-content !important;
		margin-bottom: var(--margin);
		align-self: center;
		border-radius: 100px;
	}
}