@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global */
:root {
	--test-border: 1px solid red;
}

html {
	--bg: rgb(30, 30, 30);
	--bg-nav: rgb(50, 50, 50);

	--txt: rgb(255, 255, 255);
	--txt-nav: rgb(216, 216, 216);
	--txt-nav-hover: rgb(255, 255, 255);
	--txt-link: rgb(44, 188, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	
	background-color: var(--bg);
	color: var(--txt);
}
/* end Global */

/* Utilities */
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: var(--txt-link);
}

/* end Utilities */

/* Header */
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	background-color: var(--bg-nav);
	color: var(--txt-nav);
}

#main-logo {
	order: 1;
	height: 100%;
	padding: 5px;
}
#main-logo img {
	height: 100%;
}
#main-logo img:hover {
	filter: brightness(1.3);
}

.nav-links {
	order: 2;
	width: 100%;
	max-width: 500px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2em;
	font-weight: 300;

	list-style-type: none;
}
.nav-links a:hover {
	color: var(--txt-nav-hover);
}

.menu-button-container {
  z-index: 1;
	order: 4;

	visibility: hidden;
	width: 45px;
	height: 30px;
	padding: 0 7px;
  cursor: pointer;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 200ms;
  border-radius: 2px;
}

.menu-button::before {
	margin-top: -8px;
  content: "";
}

.menu-button::after {
	margin-top: 8px;
  content: "";
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  transform: translateY(8px);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  transform: translateY(-8px);
}
/* end Header */

/* Body */
.body-content {
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.body-content h1 {
	width: 90%;
	padding-top: 15px;
}
.body-content p {
	width: 90%;
	font-weight: 300;
	color: var(--txt-nav);
}

/* end Body */

/* Mobile */
@media screen and (max-width: 450px) {
	.nav-links {
		position: fixed;
		top: 0;
		left: 0;
		height: 0;
		padding: 0;

		flex-direction: column;
		font-size: 2em;

		background: rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 10px rgba(0, 0, 0, 1);
		backdrop-filter: blur(5px contrast(80%));
		-webkit-backdrop-filter: blur(5px) contrast(80%);
		transition: height 200ms, padding 200ms;
	}
	/* .nav-links::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	} */
	.nav-links > li:not(:last-child) {
		border-bottom: 1px solid var(--txt-nav);
  }

	.menu-button-container {
		visibility: visible;
	}

	#menu-toggle ~ .nav-links li {
    height: 0;
		width: 80%;
    margin: 0;
    padding: 0;
		display: flex;

		justify-content: center;
		align-items: center;

		opacity: 0;
		transition: height 200ms;
  }

	#menu-toggle:checked ~ .nav-links {
    height: 50vh;
		padding: 75px 0 25px 0;
		transition: height 200ms, padding 200ms;
	}
  #menu-toggle:checked ~ .nav-links li {
    height: 100%;
		opacity: 1;
		transition: height 200ms, opacity 200ms;
	}
}
/* end Mobile */