/* Colors */
html[data-theme="light"]
{
	--bg: rgb(228, 228, 228);
	--txt: rgb(255, 255, 255);

	--uh-red: rgb(200, 16, 46);
	--uh-teal: rgb(0, 134, 108);
	--uh-gold: rgb(185, 120, 0);
	--uh-gray: rgb(136, 139, 141);

	--header-bg: rgb(253, 198, 46);
	--header-txt: rgb(255, 255, 255);
	
	--projects-bg: rgb(0, 187, 146);
	--projects-txt: rgb(255, 255, 255);
	
	--skills-bg: rgb(0, 150, 209);
	--skills-txt: rgb(206, 206, 206);
	
	--education-bg: rgb(255, 255, 255);
	--education-txt: rgb(126, 126, 126);
	
	--work-exp-bg: rgb(255, 255, 255);
	--work-exp-txt: rgb(65, 65, 65);
}
/* end Colors */

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	overflow: scroll;

	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;

	background: var(--bg);
	color: var(--txt);
}
/* end Global */

/* Content */
#container
{
	height: 78vh;
	width: 90vw;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [header-start] 150px;
	grid-template-areas:
		"header"
		"projects"
		"skills"
		"education"
		"work-exp";
	transform: translate(5vw, 2vh);

	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	border-radius: 15px;
}

#my-name
{
	line-height: 0.9;
}
#f-name
{
	font-size: 2em;
}
#l-name
{
	display: block;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#education .item
{
	border: 1px solid var(--txt);
	border-left: none;
	border-right: none;
}
#education .logo
{
	width: 100px;
}
#education .desc
{
	width: 100%;
}
#education .desc h3
{
	color: var(--uh-red);
}
#education .desc h4
{
	color: var(--uh-gold);
}
#education .desc h5
{
	color: var(--uh-gray);
}
#education .desc h6
{
	text-align: right;
	color: var(--uh-teal);
}

/* Card Style (mobile) */
#header
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	text-align: center;

	background: var(--header-bg);
	color: var(--header-txt);

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#projects
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	background: var(--projects-bg);
	color: var(--projects-txt);
}
#skills
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	background: var(--skills-bg);
	color: var(--skills-txt);
}
#education
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	background: var(--education-bg);
	color: var(--education-txt);
}
#work-exp
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	background: var(--work-exp-bg);
	color: var(--work-exp-txt);

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
section h1
{
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
}
section h1:hover
{
	cursor: pointer;
}
.content
{
	display: none;
	margin: 10px;
}
/* end Card Style (mobile) */
/* end Content */

/* Utilities */

/* end Utilities */

/* Media Queries */

/* end Media Queries */
