/* Colors */
html[data-theme="light"]
{
	--bg: rgb(44, 44, 44);
	--txt: rgb(255, 255, 255);

	--header-bg: rgb(255, 220, 122);
	--header-txt: rgb(88, 76, 43);
	
	--projects-bg: rgb(255, 199, 46);
	--projects-txt: rgb(128, 100, 23);
	
	--skills-bg: rgb(204, 159, 37);
	--skills-txt: rgb(255, 220, 122);
	
	--education-bg: rgb(128, 100, 23);
	--education-txt: rgb(255, 199, 46);
	
	--work-exp-bg: rgb(88, 76, 43);
	--work-exp-txt: rgb(204, 159, 37);
}
/* end Colors */

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;

	background: var(--bg);
	color: var(--txt);
}

a
{
	text-decoration: none;
	color: inherit;
}
a:hover
{
	font-weight: bold;
}
/* end Global */

/* Content */
#container
{
	height: 80vh;
	width: 90vw;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [header-start] 150px;
	grid-template-areas:
		"header"
		"projects"
		"skills"
		"education"
		"work-exp";
	transform: translate(5vw, 2.5vh);

	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	border-radius: 15px;
}

#my-name
{
	line-height: 0.9;
}
#f-name
{
	font-size: 2em;
}
#l-name
{
	display: block;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#education .item
{
	display: grid;
	grid-template-columns: 75px 1fr;
}
#education .logo
{
	width: 75px;
}
#education .desc
{
	width: 100%;
}
#education .desc h3
{
	color: var(--uh-red);
}
#education .desc h4
{
	color: var(--uh-gold);
}
#education .desc h5
{
	color: var(--uh-gray);
}
#education .desc h6
{
	text-align: right;
	color: var(--uh-teal);
}

/* Card Style (mobile) */
#header
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	text-align: center;

	background: var(--header-bg);
	color: var(--header-txt);

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#projects
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	
	background: var(--projects-bg);
	color: var(--projects-txt);
}
#skills
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	
	background: var(--skills-bg);
	color: var(--skills-txt);
}
#education
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	
	background: var(--education-bg);
	color: var(--education-txt);
}
#work-exp
{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	background: var(--work-exp-bg);
	color: var(--work-exp-txt);

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

section
{
	min-height: 50px;
}
section h1
{
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	padding: 10px;
}
section h1:hover
{
	cursor: pointer;
}
.content
{
	display: none;
	height: 100%;
	padding: 0 10px 10px 10px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}
/* end Card Style (mobile) */
/* end Content */

/* Utilities */
.no-select
{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
}
/* end Utilities */

/* Media Queries */

/* end Media Queries */