/* Colors */
html[data-theme="yellow"]
{
	--bg: rgb(32, 32, 32);
	--txt: rgb(235, 235, 235);

	--primary-1: rgb(255, 228, 154);
	--primary-2: rgb(255, 199, 46);
	--primary-3: rgb(204, 159, 37);
	--primary-4: rgb(128, 100, 23);
	--primary-5: rgb(88, 76, 43);
	--primary-6: rgb(44, 38, 21);

	--header-bg: var(--primary-1);
	--header-txt: var(--primary-4);
	
	--projects-bg: var(--primary-2);
	--projects-txt: var(--primary-5);
	
	--skills-bg: var(--primary-3);
	--skills-txt: var(--primary-6);
	
	--education-bg: var(--primary-4);
	--education-txt: var(--primary-1);
	
	--employment-bg: var(--primary-5);
	--employment-txt: var(--primary-2);
}
/* end Colors */

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	line-height: 1.25;

	background: var(--bg);
	color: var(--txt);
}
/* end Global */

/* Content */
#my-name
{
	line-height: 1.05;
}
#f-name
{
	font-size: 2em;
}
#l-name
{
	display: block;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#projects .content
{
	text-align: center;
}

#education .item
{
	display: grid;
	grid-template-columns: 75px 1fr;
}
#education .logo
{
	width: 75px;
	height: 75px;
}
#education h5
{
	font-weight: lighter;
}
#education h6
{
	text-align: right;
}

#employment h6
{
	text-align: right;
}

.item:not(:first-of-type)
{
	margin-top: 10px;
}

/* Card Style (mobile) */
#container
{
	height: 80vh;
	width: 90vw;
	max-width: 500px;
	margin: auto;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [header-start] 150px;
	grid-template-areas:
		"header"
		"projects"
		"skills"
		"education"
		"employment";
	transform: translateY(2.5vh);

	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	border-radius: 15px;
}

#header
{
	display: grid;
	grid-area: header;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	text-align: center;

	background: var(--header-bg);
	color: var(--header-txt);

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#projects
{
	display: grid;
	grid-area: projects;
	grid-template-columns: 1fr;
	
	background: var(--projects-bg);
	color: var(--projects-txt);
}
#skills
{
	display: grid;
	grid-area: skills;
	grid-template-columns: 1fr;

	background: var(--skills-bg);
	color: var(--skills-txt);
}
#education
{
	display: grid;
	grid-area: education;
	grid-template-columns: 1fr;
	
	background: var(--education-bg);
	color: var(--education-txt);
}
#employment
{
	display: grid;
	grid-area: employment;
	grid-template-columns: 1fr;

	background: var(--employment-bg);
	color: var(--employment-txt);

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

section
{
	min-height: 50px;
}
section h1
{
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	padding: 10px;
}
section h1:hover
{
	cursor: pointer;
}
.content
{
	display: none;
	height: 100%;

	padding: 0 10px 10px 10px;

	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}
/* end Card Style (mobile) */
/* end Content */

/* Utilities */
a
{
	color: inherit;
}
a:hover
{
	opacity: 0.7;
}

ul
{
	list-style-position: inside;
}

.no-select
{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
}
/* end Utilities */

/* Media Queries */
@media only screen and (min-width: 500px)
{
	#container
	{
		height: 94vh;
		width: 90vw;
		max-width: 1200px;
		margin-bottom: 10px;

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 150px 1fr 1fr;
		grid-template-areas:
		"header header"
		"projects skills"
		"education employment";
		gap: 10px;

		box-shadow: none;
	}

	#header
	{
		grid-area: header;
		height: max-content;
		padding: 20px;
	}
	#my-name
	{
		line-height: normal;
	}
	#my-name span
	{
		display: inline;
	}
	#f-name
	{
		font-size: 3em;
	}
	#l-name
	{
		margin-left: 10px;
		text-transform: unset;
		letter-spacing: normal;
	}
	#specs
	{
		display: block !important;
		font-size: 1.5em;
	}

	section
	{
		padding: 15px;

		box-shadow: 0 0 10px rgba(0, 0, 0, 1);
		border-radius: 15px;
	}
	section:not(:first-of-type)
	{
		min-height: 200px;
	}
	section h1
	{
		margin-bottom: 10px;
		padding: 0;

		font-size: 2em;
	}
	section h1:hover
	{
		cursor: default;
	}
	.content
	{
		display: block;
		padding: 0;
	}
}
/* end Media Queries */