/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	margin: auto;
	padding: 8px;
	color: darkblue;
}

/* Header */
.header
{
	text-align: center;
	font-weight: bold;
}
.header h1
{
	font-size: 1.2em;
	text-transform: uppercase;
}

.address
{
	font-size: 0.85em;
}

/* Content */
table
{
	width: 90%;
	margin: auto;
}
td
{
	height: 50px;
	width: 50%;
}
td > ul
{
	margin-left: 50px;
}

/* Footnote */
.footnote
{
	font-size: 0.82em;
}

/* Footer */
.footer
{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	font-size: 0.82em;
}

/* Utilities */
a
{
	color: purple;
}
a:visited
{
	color: red;
}

.lg
{
	font-size: 1.7em;
}
.sm
{
	font-size: 0.7em;
}

.big-boy
{
	margin-top: 80px;
}

hr
{
	margin: 20px 0 20px 0;
	/* margin: 20px; <<< all sides */
	/* margin: 20px 10px; <<< 20 top/bot, 10 left/right */
	/* margin: 20px 15px 10px 5px; <<< 20 top, 15 right, 10 bot, 5 left */
	/* margin-top, margin-right, margin-left, margin-bottom */
}

small
{
	font-size: 0.65em;
}