@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Color */
html
{
	--background: #f6f5f7;
	--background-2: #fff;
	--background-3: #ff416c;
	--background-4: #ff4b2b;
	--background-input: #eee;

	--text: #333;

	--border: #ddd;

	--button: #ff4b2b;
}

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 50px;
	height: 100vh;
	
	font-family: 'Montserrat', sans-serif;
	
	background: var(--background);
}

h1
{
	font-weight: bold;
}

p
{
	margin: 20px 30px;
	
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
}

span
{
	font-size: 12px;
}

a
{
	margin-top: 15px;

	font-size: 14px;
	text-decoration: none;

	color: var(--text);
}

button
{
	margin-top: 15px;
	padding: 12px 45px;

	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	border: 1px solid var(--button);
	border-radius: 20px;

	background: var(--button);
	color: var(--background-2);

	transition: transform 80ms ease-in;
}
button:active
{
	transform: scale(0.95);
}
button:focus
{
	outline: none;
}

/* Body */
.container
{
	position: relative;
	overflow: hidden;

	width: 768px;
	max-width: 100%;
	min-height: 480px;

	border-radius: 10px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

	background: var(--background-2);
}

.form
{
	position: absolute;
	top: 0;

	height: 100%;

	transition: all 600ms ease-in-out;
}
.form form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 0 50px;
	height: 100%;

	background: var(--background-2);
}
.form input
{
	margin: 8px 0;
	padding: 12px 15px;
	width: 100%;

	border: none;

	background: var(--background-input);
}

.sign-in
{
	z-index: 2;
	left: 0;

	width: 50%;
}

.sign-up
{
	z-index: 1;
	left: 0;

	width: 50%;

	opacity: 0;
}

.overlay-container
{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;

	width: 50%;
	height: 100%;

	transition: transform 600ms ease-in-out;
}
.overlay
{
	position: relative;
	left: -100%;
	transform: translateX(0);

	height: 100%;
	width: 200%;

	background: var(--background-3);
	background: linear-gradient(to right, var(--background-4), var(--background-3)) no-repeat 0 0 / cover;
	color: var(--background-2);

	transition: transform 600ms ease-in-out;
}
.panel
{
	position: absolute;
	transform: translateX(0);
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 0 40px;
	height: 100%;
	width: 50%;

	transition: transform 600ms ease-in-out;
}
.right
{
	right: 0;
	transform: translateX(0);
}
.left
{
	transform: translateX(-20%);
}

.social
{
	margin: 20px 0;
}
.social a
{
	display: inline-flex;
	justify-content: center;
	align-items: center;

	margin: 0 5px;
	height: 40px;
	width: 40px;

	border: 1px solid var(--border);
	border-radius: 50%;
}

button.ghost
{
	background: transparent;
	border-color: var(--background-2);
}

/* Animation */
.container.right-panel-active .sign-in
{
	transform: translateX(100%);
}
.container.right-panel-active .overlay-container
{
	transform: translateX(-100%);
}
.container.right-panel-active .sign-up
{
	z-index: 5;
	transform: translateX(100%);
	opacity: 1;
}
.container.right-panel-active .overlay
{
	transform: translateX(50%);
}
.container.right-panel-active .left
{
	transform: translateX(0);
}
.container.right-panel-active .right
{
	transform: translateX(20%);
}