/* Variables */
:root
{
	--transition-cubic: cubic-bezier(0.13, 1.52, 0.87, 0.89);
}
html[data-theme="light"]
{
	--bg: rgb(255, 255, 255);
	--bg-2: rgb(235, 235, 235);
	--bg-3: rgb(190, 190, 190);
	--txt: rgb(0, 0, 0);
	--circle: rgb(0, 104, 202);
}
/* end Variables */

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	background: var(--bg-2);
}

.container
{
	width: 90vw;
	max-width: 768px;
	margin: auto;
}
/* end Global */

/* Header */
.header
{
	margin: 20px 0;
}
.header h1
{
	font-size: 2.25em;
	text-align: center;
}
/* end Header */

/* Section */
/* Result */
.result-circle
{
	display: grid;
	height: 20vh;
	width: 20vh;
	margin: 20px auto;
	justify-content: center;
	align-content: center;

	border: 1px solid var(--circle);
	border-radius: 50%;

	font-size: 7vh;

	background: var(--circle);
	color: var(--bg-2);
}
.result-circle:hover
{
	cursor: pointer;
	outline: 5px solid var(--bg-2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Basic info */
#basic-info
{
	padding: 5px 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
#basic-info .card-item
{
	padding: 5px 10px;
}
#male, #female
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 3px;
}
.circle-lg
{
	display: grid;
	justify-content: center;
	align-content: center;
	height: 15px;
	width: 15px;

	background: var(--circle);
	border-radius: 50%;
}
.circle-sm
{
	padding: 8px;
	background: var(--bg);
	border-radius: 50%;

	transition: padding 200ms;
}
/* end Section */

/* Utilities */
.panel
{
	border-radius: 7px;
	background: var(--bg);
}

.description
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	padding: 5px 10px;

	font-size: 1.5em;
}
.description:hover
{
	cursor: pointer;
}
.description i
{
	align-self: center;

	color: var(--bg-3);
	font-size: 0.9em;

	-webkit-transition: transform 300ms var(--transition-cubic);
	-moz-transition: transform 300ms var(--transition-cubic);
	-o-transition: transform 300ms var(--transition-cubic);
	transition: transform 300ms var(--transition-cubic);
}

.card
{
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	gap: 10px 20px;
	opacity: 0;

	font-size: 0;

	-webkit-transition: font-size 300ms var(--transition-cubic), opacity 300ms, padding 300ms var(--transition-cubic);
	-moz-transition: font-size 300ms var(--transition-cubic), opacity 300ms, padding 300ms var(--transition-cubic);
	-o-transition: font-size 300ms var(--transition-cubic), opacity 300ms, padding 300ms var(--transition-cubic);
	transition: font-size 300ms var(--transition-cubic), opacity 300ms, padding 300ms var(--transition-cubic);
}
.card-item
{
	border-radius: 3px;
}
.card-item:hover
{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
}

.fa-check-square
{
	color: var(--circle);
}

input
{
	outline: none;
}

*
{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
}
/* end Utilities */


#stop
{
	position: absolute;
	top: 25%;
	left: 43.5%;
	padding: 25px;
	backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}