/* Variables */
html[data-theme="light"]
{
	--bg: rgb(255, 255, 255);
	--bg-2: rgb(235, 235, 235);
	--bg-3: rgb(190, 190, 190);
	--txt: rgb(0, 0, 0);
	--circle: rgb(32, 102, 207);
}
/* end Variables */

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	background: var(--bg-2);
}

.container
{
	width: 90vw;
	max-width: 768px;
	margin: auto;
}
/* end Global */

/* Header */
.header
{
	margin: 20px 0;
}
.header h1
{
	font-size: 2.25em;
	text-align: center;
}
/* end Header */

/* Section */
/* Result */
.result-circle
{
	display: grid;
	height: 20vh;
	width: 20vh;
	margin: 20px auto;
	justify-content: center;
	align-content: center;

	border: 1px solid var(--circle);
	border-radius: 50%;

	font-size: 7vh;

	background: var(--circle);
	color: var(--bg-2);
}
/* end Section */

/* Utilities */
.panel
{
	border-radius: 7px;
	background: var(--bg);
}

.description
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	padding: 5px 10px;

	font-size: 1.5em;
}
.description:hover
{
	cursor: pointer;
}
.description i
{
	align-self: center;
	color: var(--bg-3);
	font-size: 0.9em;

	-webkit-transition: transform 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89);
	-moz-transition: transform 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89);
	-o-transition: transform 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89);
	transition: transform 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89);
}

.card
{
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	gap: 10px 20px;
	opacity: 0;

	font-size: 0;
	-webkit-transition: font-size 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89), opacity 50ms ease-in-out;
	-moz-transition: font-size 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89), opacity 50ms ease-in-out;
	-o-transition: font-size 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89), opacity 50ms ease-in-out;
	transition: font-size 300ms cubic-bezier(0.13, 1.52, 0.87, 0.89), opacity 50ms ease-in-out;
}
.card-item
{
	border-radius: 5px;
}
.card-item:hover
{
	background: var(--bg-2);
}

.fa-check-square
{
	color: var(--circle);
}

input
{
	outline: none;
}

*
{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
}
/* end Utilities */