/* Variables */
:root
{
	--transition-cubic: cubic-bezier(0.13, 1.52, 0.87, 0.89);
}
html[data-theme="light"]
{
	--bg: rgb(255, 255, 255);
	--bg-2: rgb(235, 235, 235);
	--bg-3: rgb(190, 190, 190);
	--txt: rgb(0, 0, 0);
	--circle: rgb(233, 13, 60);
}
/* end Variables */

/* Global */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	background: var(--bg-2);
}

.container
{
	width: 90vw;
	max-width: 768px;
	margin: auto;
	color: var(--txt);
}
/* end Global */

/* Header */
.header
{
	margin: 20px 0;
}
.header h1
{
	font-size: 2.25em;
	text-align: center;
}
/* end Header */

/* Section */

/* Result */
.results
{
	display: grid;
}

#result-panel
{
	position: absolute;

	width: fit-content;
	max-width: 95vh;
	height: fit-content;
	max-height: min-content;
	padding: 20px;
	overflow: hidden;
	border-radius: 15px;
	clip-path: circle(15% at 50% 14%);
	transition: clip-path 300ms, background-color 300ms;

	justify-self: center;
	align-self: start;

	font-size: 1em;

	backdrop-filter: blur(10px);
	background: var(--circle);

	clip-path: circle(75%);
}
#result-panel:hover
{
	clip-path: circle(75%);
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(190, 190, 190, 0.5);
}
.item
{
	display: flex;
	column-gap: 60px;
	justify-content: space-between;
	padding: 10px 0;
	color: rgba(0, 0, 0, 0);
	transition: color 300ms, border 300ms;
}
#result-panel:hover .item
{
	font-size: inherit;
	color: inherit;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.item div
{
	display: inline;
	align-self: flex-end;
}
#average
{
	margin-top: 20px;
	font-size: 24px;
	padding-top: 0;
	padding-bottom: 20px;
	flex-direction: column;
	font-weight: bold;
	color: var(--bg);
	border: none !important;
	transition: margin 300ms, color 300ms, font-size 300ms;
}
#result-panel:hover #average
{
	margin: 0;
}
#average-result
{
	align-self: center;
	font-size: 2em;
}
#average-title
{
	align-self: center;
	color: rgba(0, 0, 0, 0);
	transition: color 300ms;
}
#result-panel:hover #average-title
{
	color: inherit;
}

/* Method List */
#method-list
{
	margin-top: 175px;
}

/* Basic info */
#basic-info
{
	padding: 5px 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
#basic-info .card-item
{
	padding: 5px 10px;
}
#male, #female
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 3px;
}
.circle-lg
{
	display: grid;
	justify-content: center;
	align-content: center;
	height: 15px;
	width: 15px;

	background: var(--circle);
	border-radius: 50%;
}
.circle-sm
{
	padding: 8px;
	background: var(--bg);
	border-radius: 50%;

	transition: padding 200ms;
}
/* end Section */

/* Utilities */
.panel
{
	border-radius: 7px;
	background: var(--bg);
}

.description
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	padding: 5px 10px;
	cursor: pointer;

	font-size: 1.5em;
}
.description i
{
	align-self: center;

	color: var(--bg-3);
	font-size: 0.9em;

	-webkit-transition: transform 300ms;
	-moz-transition: transform 300ms;
	-o-transition: transform 300ms;
	transition: transform 300ms;
}

.card
{
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	gap: 10px 20px;
	opacity: 0;

	font-size: 0;

	-webkit-transition: font-size 300ms, opacity 1000ms, padding 300ms;
	-moz-transition: font-size 300ms, opacity 1000ms, padding 300ms;
	-o-transition: font-size 300ms, opacity 1000ms, padding 300ms;
	transition: font-size 300ms, opacity 1000ms, padding 300ms;
}
.card-item
{
	border-radius: 3px;
	cursor: pointer;
}
.card-item:hover
{
	background: rgba(0, 0, 0, 0.1);
}

.fa-check-square
{
	color: var(--circle);
}

input
{
	outline: none;
}

*
{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
}
/* end Utilities */